[Unit]
Description=Tobira
Documentation=https://github.com/elan-ev/tobira

After=local-fs.target
After=network.target
After=postgresql.service
After=meilisearch.service

[Service]
WorkingDirectory=/var/lib/tobira
ExecStart=/usr/bin/tobira serve
Restart=always
User=tobira

[Install]
WantedBy=multi-user.target